[submodule "Libraries/zeroconf"]
	path = Libraries/zeroconf
	url = git@github.com:yvz/zeroconf.git
[submodule "Libraries/IXWebSocket"]
	path = Libraries/IXWebSocket
	url = git@github.com:machinezone/IXWebSocket.git
